.odd {
  background-color: rgb(220, 150, 150);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-elem {
  color: #0000ff;
  font-size: 36px;
}

/* Modify the font for `Number 3` and `Number 4` */
.modify-font-size {
}

/* Modify the font for `Number 3` and `Number 4` */
.modify-font-size {
    font-size: 24px;
}

#fourth-elem {
    background-color: #90ee90;
    font-weight: bold;
}
